:root {
	--color-text-primary: #000;
	--color-text-secondary: #AAA;
	--color-bg-primary: #FFF;
	--color-bg-secondary: #EEE;
}

body {
	font-family: 'Poppins', sans-serif;
	text-transform: lowercase;
	cursor: none;
	color: var(--color-text-primary);
}

h2 {
	font-weight: normal;
	margin: 0;
	line-height: 1.5em
}

p {
	margin: 0;
	line-height: 1.5em;
}

p.light {
	color: var(--color-text-secondary);
}

.grid {
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: 40px;
	width: fit-content;
	max-width: 1000px;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 20px;
	margin: auto;
}

.bio {
	margin: auto;
}

.work {
	display: grid;
	width: 100%;
	margin: auto;
}

.work .item {
	display: flex;
	gap: 10px;
	width: fit-content;
	padding: 5px 0;
	transition: color 0.5s;
}

.work .item.selected {
	color: var(--color-bg-primary);
}

.work .item .tag {
	display: block;
	font-size: 0.8rem;
	background: var(--color-bg-secondary);
	border-radius: 50px;
	color: var(--color-text-primary);
	padding: 5px 8px;
	margin: auto 0;
}

#cursor {
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: var(--color-text-primary);
}






